@font-face {
    font-family: 'Conv_UTM Swiss CondensedBold';
    src: local('Conv_UTM Swiss CondensedBold'), url('fonts/UTM Swiss CondensedBold.woff') format('woff'), url('fonts/UTM Swiss CondensedBold.ttf') format('truetype'), url('fonts/UTM Swiss CondensedBold.svg') format('svg'), url('fonts/UTM Swiss CondensedBold.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_UTM Swiss Condensed';
    src: local('Conv_UTM Swiss Condensed'), url('fonts/UTM Swiss Condensed.woff') format('woff'), url('fonts/UTM Swiss Condensed.ttf') format('truetype'), url('fonts/UTM Swiss Condensed.svg') format('svg'), url('fonts/UTM Swiss Condensed.eot');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=vietnamese');

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    font-size: 14px;
}
.swiss {
    font-family: 'Conv_UTM Swiss Condensed';
}
.swissBold {
    font-family: 'Conv_UTM Swiss CondensedBold';
}
.header {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 0;
}
.header .main-header .logo {
    float: left;
    margin-right: 150px;
}
.header .main-header .navabar_HD {
    float: left;
    padding: 12px 0;
}
.header .main-header .socialHD {
  float: right;
  position: relative;
  padding: 13px 0;
}
.socialHD .scIcon {
  position: absolute;
  width: 45px;
  height: 45px;
  font-size: 22px;
  line-height: normal;
  padding: 10px 15px;
  color: #fff !important;
  border: 1px solid;
  border-radius: 100%;
  text-decoration: none;
}
.socialHD .scIcon:hover {
  color: #fea519 !important;
}
.socialHD .facebook {
  left: -60px;
}
.socialHD .youtube {
  padding: 10px;
}
.socialHD .facebook::before {
  content: '\f09a';
  font-family: 'FontAweSome';
}
.socialHD .youtube::before {
  content: '\f16a';
  font-family: 'FontAweSome';
}

  @media (max-width: 543px) {
    .navabar_HD .main-menu {
      display: inline-block;
      background: #4f4f4f;
      background: -webkit-linear-gradient(left, rgba(255, 68, 0, 0.81) 10%, #2bae00 100%);
      background: -moz-linear-gradient(left, rgba(255, 68, 0, 0.81) 10%, #2bae00 100%);
      background: -o-linear-gradient(left, rgba(255, 68, 0, 0.81) 10%, #2bae00 100%);
      background: -ms-linear-gradient(left, rgba(255, 68, 0, 0.81) 10%, #2bae00 100%);
      background: linear-gradient(left, rgba(255, 68, 0, 0.81) 10%, #2bae00 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 68, 0, 0.81)', endColorstr='rgb(43, 174, 0)', GradientType=1);
      position: fixed;
      top: 35px;
      left: 0;
      z-index: 999;
      transform: translate(-280px, 0);
      height: 100%;
    }
  }
  .navabar_HD .main-menu ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  @media (max-width: 543px) {
    .navabar_HD .main-menu ul {
      display: inline-block;
    }
  }
  .navabar_HD .main-menu ul li {
    float: left;
    padding: 0 40px;
  }
  .navabar_HD .main-menu ul li .nav-sub ul {
    background: #fff;
    position: absolute;
    z-index: 999;
    box-shadow: 2px 2px 7px -4px #000;
    visibility: hidden;
  }
  .navabar_HD .main-menu ul li .nav-sub ul li {
    float: none;
    border-bottom: 1px dotted #f7f7f7;
  }
  .navabar_HD .main-menu ul li .nav-sub ul li .nav-sub-list-box a {
    color: #444;
  }
  .navabar_HD .main-menu ul li .nav-sub ul li h2 {
    font-size: 13px;
    margin-bottom: 0;
  }
  .navabar_HD .main-menu ul li:hover > .nav-sub ul {
    visibility: visible;
  }
  .navabar_HD .main-menu ul li a {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .navabar_HD .main-menu ul li a:hover {
    color: #fea519;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .navabar_HD .main-menu ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .navabar_HD .main-menu ul li:hover a::before, .navabar_HD .main-menu ul li.active a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: #fea519;
    bottom: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  @media (max-width: 767px) {
    .navabar_HD .main-menu ul li a {
      padding: 10px;
      font-size: 12px;
    }
  }
  @media (max-width: 543px) {
    .navabar_HD .main-menu ul li {
      float: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    }
  }
  .main-header {
    max-width: 1480px;
    margin: 0 auto;
  }
  .navabar_HD .main-menu ul li.active a {
    color: #fea519;
    font-weight: bold;
  }
  #Main-slide .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 5px 15px;
    border-radius: 0;
    margin: 0;
    font-size: 20px;
    margin-top: -16px;
    line-height: normal;
  }
  #Main-slide .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
    padding: 5px 15px;
    border-radius: 0;
    margin: 0;
    font-size: 20px;
    line-height: normal;
  }
  #Main-slide .owl-buttons {
    margin-bottom: -10px;
  }
  .topMain {
    position: relative;
  }
  .groupSerch {
    position: absolute;
    bottom: 0;
    padding: 16px 30px;
    width: 100%;
    background: rgba(31, 100, 169, 0.63);
  }
  .groupSerch .labelS {
    color: #fff;
    font-size: 25px;
    float: left;
    width: 25%;
    padding: 10px 0;
  }
  .groupSerch .formSearch {
    float: left;
    position: relative;
    width: 75%;
    margin-top: 6px;
  }
  .groupSerch .formSearch .rSearch .form-text {
    width: 100%;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    box-shadow: none;
    outline: none;
  }
  .btnSearch {
    position: absolute;
    top: 0;
    background: none;
    border: none;
    box-shadow: none;
    right: 0;
    font-size: 20px;
    padding: 14px;
    line-height: normal;
    color: #3d3d3d;
    cursor: pointer;
    outline: none;
  }
  .btnSearch:hover {
    color: #fea519;
  }
  .btnSearch:focus {
    outline: none;
  }
  .service {
    background: #f8a53b;
    color: #fff;
    padding: 30px 0;
    clear: left;
    border-top: 2px solid #fff;
  }
  .GroupSv .heading {
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 0 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    min-height: 77px;
  }
  .GroupSv .listSv ul {
    padding-left: 0;
    list-style: none;
  }
  .GroupSv .listSv a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    font-size: 15px;
  }